
<div class="caro-wrapper">
  <span id="itm-1"></span>
  <span id="itm-2"></span>
  <span id="itm-3"></span>
  <div class="caro-itm itm-1">
    <h2>Item 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus   accumsan pretium dolor vel convallis. Aliquam erat volutpat. Maecenas lacus nunc, imperdiet sed mi et, finibus suscipit mi.</p>
    <a class="arow arow-prev" href="#itm-3"></a>
    <a class="arow arow-next" href="#itm-2"></a>
  </div>

  <div class="caro-itm itm-2">
    <h2>Item 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan pretium dolor vel convallis. Aliquam erat volutpat.</p>
    <a class="arow arow-prev" href="#itm-1"></a>
    <a class="arow arow-next" href="#itm-3"></a>
  </div>

  <div class="caro-itm itm-3">
    <h2>Item 3</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan pretium dolor vel convallis. Aliquam erat volutpat.</p>
    <a class="arow arow-prev" href="#itm-2"></a>
    <a class="arow arow-next" href="#itm-1"></a>
  </div>
</div>
