<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add_Restaurant</title>

<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {% load crispy_forms_tags %}
</head>
<body>
<center>
    <h1>Add Food Item</h1>
</center><br><br><br>
<div class="container">
    <div class="col-sn-6">
        <div class="panel panel-default">
            <div class="panel-heading">This will be displayed in your Restaurants food Details</div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{food|crispy}}
                        <input class="btn btn-primary" type="submit" value="Add Food Item">
                    </form>
                </div>
        </div>
    </div>
</div>
</body>
</html>